// $title-text-color: #212121;
$primary-text-color: #ffffff;
// $accent-color: #2196f3;
$white-color: #ffffff;
$secondary-background-color: rgba(0, 0, 0, 0.25);
// $dark-background-color: #2f303a;
$primery-background-color: #021545;
// $icons-color: #afb1b8;
// $transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
// $transition-timing-function: 250ms;
$primery-font: Roboto;
$secondary-font: sans-serif;
