<section class="bonus">
  <div class="container">
    <div class="bonus-section">
      <div class="bonus-section__slots">
        <div class="bonus-section__slots-number">4</div>
        <div class="bonus-section__slots-container">
          <svg class="bonus-section__slots-svg" width="80" height="80">
            <use href="./images/Slots-of-Vegas.svg#b"></use>
          </svg>
        </div>
      </div>
      <div>
        <p class="bonus-section__text">Bonus:</p>
        <p class="bonus-section__text-fs">$300+50FS</p>
      </div>

      <div class="bonus-section__stars">
        <p class="bonus-section__text">Rate:</p>
        <ul class="bonus-section__stars-list">
          <li class="bonus-section__stars-item">
            <svg class="bonus-section__stars-svg gold" width="28" height="28">
              <use href="./images/stars.svg#icon-Star1"></use>
            </svg>
          </li>
          <li class="bonus-section__stars-item">
            <svg class="bonus-section__stars-svg" width="28" height="28">
              <use href="./images/stars.svg#icon-Star2"></use>
            </svg>
          </li>
          <li class="bonus-section__stars-item">
            <svg class="bonus-section__stars-svg" width="28" height="28">
              <use href="./images/stars.svg#icon-Star2"></use>
            </svg>
          </li>
          <li class="bonus-section__stars-item">
            <svg class="bonus-section__stars-svg" width="28" height="28">
              <use href="./images/stars.svg#icon-Star2"></use>
            </svg>
          </li>
          <li class="bonus-section__stars-item">
            <svg class="bonus-section__stars-svg" width="28" height="28">
              <use href="./images/stars.svg#icon-Star2"></use>
            </svg>
          </li>
        </ul>
      </div>

      <div class="bonus-section__icons">
        <div class="bonus-section__dep">
          <p class="bonus-section__text">Deposit options:</p>

          <ul class="bonus-section__dep-list">
            <li class="bonus-section__dep-item">
              <svg class="" width="24" height="24">
                <use href="./images/Deposit-options.svg#icon-PP"></use>
              </svg>
            </li>
            <li class="bonus-section__dep-item">
              <svg class="" width="24" height="24">
                <use href="./images/Deposit-options.svg#icon-B"></use>
              </svg>
            </li>
            <li class="bonus-section__dep-item">
              <svg class="" width="24" height="24">
                <use href="./images/Deposit-options.svg#icon-visa"></use>
              </svg>
            </li>
            <li class="bonus-section__dep-item">
              <svg class="" width="24" height="24">
                <use href="./images/Deposit-options.svg#icon-untitled"></use>
              </svg>
            </li>
            <li class="bonus-section__dep-item">
              <svg class="" width="24" height="24">
                <use href="./images/Deposit-options.svg#icon-lock"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="bonus-section__devices">
          <p class="bonus-section__text">Devices:</p>
          <ul class="bonus-section__devices-list">
            <li class="bonus-section__devices-item">
              <svg class="" width="24" height="24">
                <use href="./images/devise.svg#icon-des"></use>
              </svg>
            </li>
            <li class="bonus-section__devices-item">
              <svg class="" width="24" height="24">
                <use href="./images/devise.svg#icon-tab"></use>
              </svg>
            </li>
            <li class="bonus-section__devices-item">
              <svg class="" width="24" height="24">
                <use href="./images/devise.svg#icon-mob"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <button class="bonus-section__btn-get button">GET BONUS</button>
      <button class="bonus-section__btn-read button">READ REVIEW</button>
    </div>

    <div class="bonus-section__btn-line">
      <div class="bonus-section__btn-line_before"></div>
      <button class="bonus-section__btn-more button">SHOW MORE</button>
      <div class="bonus-section__btn-line_after"></div>
    </div>
  </div>
</section>
