<header class="header">
  <div class="container main-nav">
    <nav class="main-nav">
      <svg width="148" height="40">
        <use class="logo__img" href="./images/logo.svg#c"></use>
      </svg>

      <!-- Бургер  is-open-->
      <button
        class="button-burger is-open"
        data-menu-button
        type="button"
        aria-expanded="false"
      >
        <svg width="25" height="25" aria-label="Переключатель мобильного меню">
          <!-- <use
            class="icon-close_burger"
            href="./images/symbol-burger.svg#icon-close_burger"
          ></use> -->
          <use
            class="icon-menu_burger"
            href="./images/symbol-burger.svg#icon-menu_burger"
          ></use>
        </svg>
      </button>

      <!-- <div class="menu-container" id="menu-container" data-menu>
        <ul class="site-nav list">
          <li class="site-nav__item">
            <a href="./index.html" class="site-nav__link active">Студия</a> 
          </li>
          <li class="site-nav__item">
             <a href="./portfolio.html" class="site-nav__link">Портфолио</a> 
          </li>
          <li class="site-nav__item">
            <a href="" class="site-nav__link">Контакты</a>
          </li>
        </ul>

        <ul class="site-com list">
          <li class="site-com__item site-com__mail">
            <a
              href="mailto:info@devstudio.com"
              class="site-com__link font-mail"
            >
              <svg class="site-com__icon" width="16" height="12">
                <!-- <use href="Images/icon.svg#icon-mail"></use> 
              </svg>
              info@devstudio.com
            </a>
          </li>
          <li class="site-com__item site-com__tel">
            <a href="tel:+380961111111" class="site-com__link font-tel">
              <svg class="site-com__icon" width="10" height="16">
             <use href="Images/icon.svg#icon-phone"></use>
              </svg>
              +38 096 111 11 11
            </a>
          </li>
        </ul>

        <ul class="site-icon">
          <li class="site-icon__item">
            <a href="" class="site-icon__link">Instagram</a>
          </li>
          <li class="site-icon__item">
            <a href="" class="site-icon__link">Twitter</a>
          </li>
          <li class="site-icon__item">
            <a href="" class="site-icon__link">Facebook</a>
          </li>
          <li class="site-icon__item">
            <a href="" class="site-icon__link">LinkedIn</a>
          </li>
        </ul>
      </div> -->
    </nav>
  </div>
</header>
