<div class="hero-section">
  <div class="container">
    <div>
      <h1 class="hero-section__title">Minimum deposit casinos USA</h1>
    </div>

    <p class="hero-section__text">
      Digital progress has a significant impact on today’s services, and minimum
      deposit casino did not make an exception. Gambling has always been
      popular, but, with the appearance of minimum deposit casino websites, it
      became even more affordable. People have been treating gambling like
      something terrible for many years, and not without reason. Most players
      habit the game and lose big money.
    </p>

    <div class="hero-section__perks">
      <ul class="hero-section__perks-list">
        <li class="hero-section__perks-item">
          <svg width="54" height="48">
            <use href="./images/perks.svg#icon-bank"></use>
          </svg>
          <p class="hero-section__perks-text">Legal</p>
        </li>
        <li class="hero-section__perks-item">
          <svg class="hero-section__perks-svg" width="54" height="48">
            <use href="./images/perks.svg#icon-money"></use>
          </svg>
          <p class="hero-section__perks-text">Fast withdrawal</p>
        </li>
        <li class="hero-section__perks-item">
          <svg width="54" height="48">
            <use href="./images/perks.svg#icon-mobile"></use>
          </svg>
          <p class="hero-section__perks-text">Mobile friendly</p>
        </li>
        <li class="hero-section__perks-item">
          <svg width="54" height="48">
            <use href="./images/perks.svg#icon-note"></use>
          </svg>
          <p class="hero-section__perks-text">Expertly reviewed</p>
        </li>
      </ul>
    </div>

    <div class="hero-section__content">
      <div class="hero-section__content-padding">
        <h2 class="hero-section__content-title"><p>Content</p></h2>
        <ul class="hero-section__content-list">
          <li class="hero-section__content-item">
            <p class="hero-section__content-text">USA Online Casinos of 2021</p>
          </li>
          <li class="hero-section__content-item">
            <p class="hero-section__content-text">
              How to Choose a USA Online Casino
            </p>
          </li>
          <li class="hero-section__content-item">
            <p class="hero-section__content-text">
              Where can you play Legal Online Casino Games in US?
            </p>
          </li>
          <li class="hero-section__content-item">
            <p class="hero-section__content-text">
              States that Could have Online Casinos in the Near Future
            </p>
          </li>
        </ul>

        <div class="hero-section__content-line_contaiter">
          <ul class="hero-section__content-line_list">
            <li class="hero-section__content-line_item active"></li>
            <li class="hero-section__content-line_item"></li>
            <li class="hero-section__content-line_item"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="hero-section_min-dep">
      <ul class="hero-section_min-dep-list">
        <li class="hero-section_min-dep-item">
          <p class="hero-section_min-dep-text">$1 MIN DEP CASINOS</p>
        </li>
        <li class="hero-section_min-dep-item">
          <p class="hero-section_min-dep-text">$5 MIN DEP CASINOS</p>
        </li>
        <li class="hero-section_min-dep-item">
          <p class="hero-section_min-dep-text">$10 MIN DEP CASINOS</p>
        </li>
        <li class="hero-section_min-dep-item">
          <p class="hero-section_min-dep-text">$20 MIN DEP CASINOS</p>
        </li>
      </ul>
      <ul class="hero-section_min-dep_down-list">
        <li class="hero-section_min-dep_down-item">
          <p class="hero-section_min-dep-text">T&CS APPLY</p>
        </li>
        <li class="hero-section_min-dep_down-item">
          <p class="hero-section_min-dep-text">AD DISCLOSURE</p>
        </li>
      </ul>
    </div>
  </div>
</div>
