<section class="section-claim">
  <div class="container"></div>
  <div class="section-claim__container">
    <h2 class="section-claim__title">
      Claim best <span class="section-claim__title-span">welcome bonuses</span>
      at
    </h2>
    <img
      class="section-claim__img"
      alt="FruitKings"
      srcset="./images/FruitKings.png 370w, ./images/FruitKingsx2png.png 740w"
      sizes="(min-width: 1200px) 370px, 100vw"
      src="./images/FruitKings.png"
      width="134"
    />

    <div class="section-claim__gifs">
      <img
        class="section-claim__gifs-img"
        alt="FruitKings"
        srcset="./images/gifs.png 370w, ./images/gifsx2.png 740w"
        sizes="(min-width: 1200px) 370px, 100vw"
        src="./images/gifs.png"
        width="46"
      />
      <p class="section-claim__gifs-text">100% up to 900$</p>
    </div>
    <button class="section-claim__btn button">CLAIM NOW</button>
  </div>
</section>
